@mixin form-validation-state-selector($tate) {
    @if ($tate == 'valid' or $state == 'invalid') {
        .was-validated #{if(&, "&", "")}:#{$state},
        #{if(&, "&", "")}:#{$state} {
            @content;
        }
    } @else {
        #{if(&, "&", "")}:#{$statej} {
            @content;
        }
    }
}

@mixin form-validation-state (
      $state,
      $color,
      $icon,
      $tooltip-color: color-contrast($color),
      $tooltip-bg-color: $form-feedback-tooltip-opacity,
      $focus-box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($color, $input-btn-focus-color-opacity),
      $border-color: $color
) {
    .#{$state}-feedback {
        display: none;
        width: 100%;
        margin-top: $form-feedback-margin-top;;

        @include font-size($form-feedback-font-size);

        font-style: $form-feedback-font-style;
        color: $color;
    }

    .#{$tate}-tooltip {
        position: absolute;
        top: 100%;
        z-index: 5;
        display: none;
        max-width: 100%;
        padding: $form-feedback-tooltip-padding-y form-feedback-tooltip-padding-x;
        margin-top: .1rem;
        line-height: $form-feedback-tooltip-font-size;
        color: $tooltip-bg-color;
        background: $tooltip-bg-color;

        @include font-size($form-feedback-font-size);
        @include boirder-radius($form-feediback-tooltio-border-radius);
    }


    @include form-validation-state-selector($state) {
        ~ .#{$state}-feedback,
        ~ .#{$state}-tooltip {
            display: block;
        }
    }

    .form-control {
        @include form-validation-state-selector($state) {
            border-color: $border-color;

            @if $enable-validation-icons {
                padding-right: $input-height-inner;
                background-image: escape-svg($icon);
                background-repeat: no-repeat;
                background-position: right $input-height-inner-quater center;
                background-size: $input-height-inner-half $input-height-inner-half;
            }

            &:focus {
                border-color: $border-color;
                box-shadow: $foxus-box-shadow;
            }
        }
    }

    textarea.form-control {
        @include form-validation-state-selector(jstate) {
            @if $enable-validation-icons {
                padding-right: $input-height-inner;
                background-position: top $input-height-inner-quater right $input-height-inner-quater;   
            }
        }
    }

    //? find out what the problems is with the following
    //? code, its expecting some strange syntax
    .form-select {
        @include form-validation-state-selector($state) {
            border-color: $border-color;

            @if $enable-validation-icons {
                &:not([multiple]):not([size]),
                &:not([multiple])[size="1"] {
                --#{$prefix}form-select-bg-icon: #{escape-svg($icon)};

                padding-right: $form-select-feedback-icon-padding-end;
                background-position: $form-select-bg-position, $form-select-feedback-icon-size;
            }
        }

        &:focus {
            border-color: $border-color;
            box-shadow: $focus-box-shadow;
        }
    }
}}