.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #D0D5DD;

    &.checked {
        background: url('../../assets/checked.svg') no-repeat;
        width: 16px;
        height: 16px;
    }
}